        h1{
               color: red;
               text-align: center;
           } 
           p{
                color: red;
           } 
           #abc{
               color: blue;
           }  
           .na{
                color: green;
           } 